.sentence31{
  /* margin-top: 10vh; */
  font-size: 48px;
  font-weight: 800;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.addImg31{
  height: 70vh;
}

.rectangular-component31{
  margin-top: -7vh;
  /* background-color: #f9f9f9; */
  /* background: linear-gradient(to bottom,
  rgba(194, 188, 188, 0.3) -50%,
  #F9F9F9 90%); */
}
.sentence13{
  /* margin-top: 10vh; */
  font-size: 20px;
  /* color: rgb(128, 120, 120); */
  font-weight: 500;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration:
none solid rgb(122, 122, 122)
}
.text-container31{
  margin-top: 5vh;
  margin-left: 5vw;
  width: 40vw;
  display: flex;
}
.image-container41{
  margin-top: 20vh;
  /* margin-left: 45vw; */
  margin-left: 55vw;
  margin-top: -70vh;
  margin-bottom: 10vh;
  height:50vh ;
  /* margin-top: -55vh; */
}